name = "clawview"
main = "dist/server/server.js"
compatibility_date = "2024-12-01"
compatibility_flags = ["nodejs_compat"]

[assets]
directory = "./dist/client"

[vars]
SAAS_MODE = "true"

[[routes]]
pattern = "viewholly.com/*"
zone_name = "viewholly.com"

[[routes]]
pattern = "molty.viewholly.com/*"
zone_name = "viewholly.com"
